<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XiaoMing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://pic.qianmi.com/ejz/ejzc_app2.0/css/libs/mui.css"/>
    <link rel="stylesheet" type="text/css" href="https://pic.qianmi.com/ejz/ejzc_app2.0/css/libs/animate.min.css" />

    <!--商品化改造-样式css-->

    <!--<link rel="stylesheet" href="https://pic.qianmi.com/ejz/icon_JZ/css/icon.min.css"/>-->
    <!--<link rel="stylesheet" href="https://pic.qianmi.com/ejz/ejzc_app2.0/css/main_ch.css" />-->

    <link rel="stylesheet" href="https://pic.qianmi.com/ejz/ejzc_app2.0/css/iconfont.css"/>
    <link rel="stylesheet" href="/static/ex-index.css"/>
    <link rel="stylesheet" href="/static/ex-user.css"/>
    <link rel="stylesheet" href="/static/xm-prodctType.css"/>
    <link rel="stylesheet" href="/static/xm-submitOrder.css"/>
    <link rel="stylesheet" href="/static/main-jz.css"/>
    <link rel="stylesheet" href="/static/icons/demo.css">
    <link rel="stylesheet" href="/static/icons/iconfont.css">
</head>
<body>
<div id="wx-XiaoMing">
</div>
<script type="text/javascript" src='https://webapi.amap.com/maps?v=1.3&plugin=AMap.Geolocation,AMap.ToolBar,AMap.Geocoder,AMap.PlaceSearch,AMap.Autocomplete,AMap.Driving&key=9f269b1ccef5945ffe7a603d1ae00f70'></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
<script type="text/javascript" src="https://pic.qianmi.com/ejz/ejz_fx/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="https://pic.qianmi.com/ejz/ejzc_app/js/libs/mui.min.js"></script>
<script type="text/javascript" src="https://pic.qianmi.com/ejz/ejzc_app2.0/js/libs/swiper.min.js"></script>
<script type="text/javascript" src="/static/js/build/qianmi-app-b2e30f7b9592617acf9f.js"></script>
</body>
</html>